parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:create\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Call to an undefined static method App\\Models\\User\:\:where\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/AuthController.php
